*~
.*.swp

venv/

build/
dist/
*.pdb
*.so
*.py[cod]

wheelhouse/

src/pymmcore/*_wrap.h
src/pymmcore/*_wrap.cpp
src/pymmcore/_pymmcore_swig.*
src/pymmcore/*_swig.py
pymmcore.egg-info
.mypy_cache/
.vscode/
